.form__col {
    display:block;
    margin-right:20px;
}

.table {
    width:100%;
}

.table tr {
    display:flex;
    flex-direction: row;
    width:100%;
}

.table th,
.table td {
    flex:1;
    text-align: center;
    padding:5px 0;
}

.table th {
    background:#efefef;
    padding:10px 0;
}

.table td.city__name {
    text-transform: capitalize;
}

.button__group {
    margin-top:10px;
}