.dashboard {
    display:flex;
    height:100%;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

.navLink {
    height:40px;
    line-height:40px;
    padding:0 15px;
    color:#fff;
    background: #D8CBD6;
    border-bottom:1px solid #ddd;
    transition:0.3s;
}

.navLink:hover,
.active {
    background:#fff;
    color:#555;
}