.inputGroup {
    width:100%;
    margin-bottom:15px;
}

.inputGroup label {
    display: block;
    width:100%;
    line-height:30px;
    text-transform: capitalize;
}

.inputGroup label b {
    color:#ff6600;
}

.inputGroup input {
    display: block;
    width:100%;
    margin-top:5px;
    line-height:30px;
    border:none;
    border-bottom:1px solid #d6d6d6;
    background:transparent;
}

.inputGroup input:focus {
    outline: none;
    border-bottom:1px solid #00b5e4;
    background:#fff;
}

input:disabled {
    background:#efefef;
}