.container {
    padding-bottom: 40px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    width: calc(50% - 10px);
}

.card {
    background: #fff;
    box-shadow: 0 2px 7px 0 #d6d6d6;
    padding: 10px;
}

.list {
    list-style:none;
}

.list li {
    padding: 10px 0;
}

.list li span {
    text-transform: capitalize;
}

.list li span.title {
    display: inline-block;
    min-width: 130px;
    font-weight:500;
}

.list li b {
    font-weight: 500;
}

.methods {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px 0;
}

.methods label {
    margin-left:15px;
}

.methods img {
    width:50px;
    margin-left:15px;
}

.ads {
    margin-top:10px;
}

.ads img {
    width:100%;
    height:240px;
    object-fit: cover;
}

@media screen and (max-width: 770px) {
    .col {
        width: 100%;
    }
    
    .list li span.title {
        display: block;
    }
}