.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    width:100%;
}

.details {
    margin-left:15px;
}

.details span {
    display: block;
    margin-bottom:15px;
}