.label {
    margin: 10px 0;
    padding: 10px 20px;
    background: #6B95A0;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
}

.popup__inner_radios {
    padding:10px 0;
}

.popup__inner_radios label {
    margin-left:10px;
    text-transform: capitalize;
}

.form__group {
    margin-top:10px;
}