.table {
    width:100%;
    border-collapse: collapse;
    border:1px solid #efefef;
    margin-bottom: 20px;
}

.table tr:nth-of-type(odd) {
    background-color:#efefef;
}

.table tr td {
    padding: 10px;
    text-transform: capitalize;
}

@media print {
    .table {
        width:60%;
        margin:auto;
        background-image:url('http://localhost:8000/constants/print-bg.png');
        background-repeat: no-repeat;
        background-size:cover;
    }
    .table tr:nth-of-type(odd) {
        background-color:initial;
    }
    @page { 
        size:A4 portrait;
    }
  }